{{ define "main" }}

<!-- banner -->
<section class="banner bg-cover" style="background-image: url('{{ .Site.Params.banner.bgImage | relURL }}');">
  <img  src="{{ .Site.Params.banner.image | relURL }}" class="img-fluid illustration desk-img" alt="">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-10 mb-lg-0 col-12">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4 col-6 text-right"><h1>{{ .Site.Data.podatki.povabljeniPrebivalci | markdownify }} |</h1></div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-6"><h2><small class="text-muted"> prebivalcev Slovenije povabljenih k testiranju</small></h2></div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4 col-6 text-right"><h1>{{ .Site.Data.podatki.sprejetaPovabila | markdownify }} |</h1></div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-6"><h2><small class="text-muted"> sprejetih povabil</small></h2></div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4 col-6 text-right"><h1>{{ .Site.Data.podatki.odvzetihVzorcev | markdownify }} |</h1></div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-6"><h2><small class="text-muted"> odvzetih vzorcev</small></h2></div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-3 col-md-3 col-sm-4 col-6 text-right" ><h6><small>Podatki ažurirani:</small></h6></div>
          <div class="col-lg-9 col-md-9 col-sm-8 col-6" style="padding-left: 0">
            <h6>
              <script>
                let d = new Date("{{.Site.Data.podatki.dateHour}}");
                document.write(`${d.getDate()}. ${d.getMonth() + 1}. ${d.getFullYear()} ob ${d.getHours()}.${("0" + d.getMinutes()).slice(-2)}`);
              </script>
              <noscript>
                {{ dateFormat "2. 1. 2006 ob 15:04" .Site.Data.podatki.dateHour }}
              </noscript>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /banner -->

<!-- blog -->
<section class="section">
  <div class="container">
    <div class="row">
      {{ range first 3 (where .Site.RegularPages "Type" "post") }}
      {{ partial "post.html" . }}
      {{ end }}
    </div>
  </div>
</section>
<!-- /blog -->

<!-- opis -->
<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <div class="row shadow bg-white p-5">
          <div class="col-md-12 mb-4 mb-lg-0">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /opis -->

<!-- logos -->
<section class="section pt-0">
  <div class="container-fluid text-center">
    <div class="row d-flex justify-content-center pb-5">
      <div class="col">
        <a href="{{ .Site.Params.imi.link }}">
         <img class="img-fluid mobile-img large-logo mx-auto" src="{{ .Site.Params.imi.img | relURL }}" alt="{{ .Site.Params.imi.alt }}">
        </a>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      {{ range .Site.Params.logos }}
      <div class="col-auto col-sm-offset-3 mobile-padding">
        <a href ="{{ .link }}">
          <img class="img-fluid small-icon" src="{{ .img | relURL }}" alt="{{ .alt }}">
        </a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /logos -->

<style>

</style>

{{ end }}
